<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="app-uri-update" value="http://localhost/test/mnmn/update.xml?{TIMESTAMP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-uri-changelog-release" value="http://localhost/test/mnmn/update-release.html?{TIMESTAMP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		
		<add key="app-send-crash-report" value="False"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-crash-report-is-debug" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--
		-->
		<add key="background-garbage-collection-is-enabled-startup" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--
		<add key="finder_tab-tab_header-using-mouse-wheel" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		-->

		<!--
		<add key="setting-application-web_navigator-geckofx-scan-plugin" value="False" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-uri-web_navigator-plugins" value="https://bitbucket.org/sk_0520/mnmn/downloads/WebNavigatorGeckoFxPlugins-debug.zip" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		-->

		<add key="web_navigator-context_menu-show-html_source" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)" />

	</appSettings>
</configuration>