<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="app-uri-update" value="http://localhost/test/mnmn/update.xml?{TIMESTAMP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-uri-changelog-release" value="http://localhost/test/mnmn/update-release.html?{TIMESTAMP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-uri-general-browser" value="https://google.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-uri-questionnaire" value="https://script.google.com/macros/s/AKfycbzgOrExQj54-5gn1I7Op7sRYgboQDhZ7_KF0ugysIkydTYPYW0/exec?is_debug=true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-uri-lightweight-update" value="https://drive.google.com/uc?id=0B_tvJxH1KCxRUUlxc1RJbGhNcHc" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--
		-->
		<add key="app-send-crash-report" value="False"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!--
		-->
		<add key="app-un_handled-exception-handled" value="False" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-crash-report-is-debug" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<add key="web_navigator-geckofx-show-engine-log" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<add key="force-more-options-show" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--
		-->
		<add key="background-garbage-collection-is-enabled-startup" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="garbage-collection-call-emptyworkingset-count" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--
		-->
		<add key="auto-reboot-is-enabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="auto-reboot-watch-time" value="00:00:01" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="auto-reboot-judge-time" value="00:00:10" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--
		<add key="finder_tab-tab_header-enabled-mouse-wheel" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		-->

		<!--
		<add key="setting-application-web_navigator-geckofx-scan-plugin" value="False" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-uri-web_navigator-plugins" value="https://bitbucket.org/sk_0520/mnmn/downloads/WebNavigatorGeckoFxPlugins-debug.zip" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		-->

		<add key="web_navigator-context_menu-show-html_source" value="True" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--
		<add key="service-smile-smilevideo-search-type" value="Official" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		-->
		<!--<add key="service-smile-smilevideo-player-comment-effect" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->

	</appSettings>
</configuration>