<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="app-uri-update" value="http://localhost/update-mnmn.xml?{TIMESTAMP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="app-uri-changelog-release" value="http://localhost/update-release.html?{TIMESTAMP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="background-garbage-collection-is-enabled-startup" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!--<add key="app-uri-issue-resolved" value="https://helpx.adobe.com/jp/flash-player/kb/235703.html" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
		<add key="setting-application-web_navigator-geckofx-scan-plugin" value="False" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<!--<add key="web_navigator-engine" value="Default" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->

		<!--<add key="auto-save-setting-time" value="00:00:05" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
		<!--<add key="background-update-check-time" value="00:00:05" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
		<!--<add key="background-garbage-collection-time" value="00:00:01" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
		<!--<add key="service-smile-smilevideo-check_it_later-check-time" value="00:05:00" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
		<add key="player-cursor-hide-time" value="00:00:00.5" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!--<add key="service-smile-smilevideo-player-comment-width" value="6400" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="service-smile-smilevideo-player-comment-height" value="3860" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
	</appSettings>
</configuration>