<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib" />
		</assemblyBinding>
	</runtime>
	<appSettings file="MnMn.exe.user.config">
		<add key="app-uri-about" value="http://content-type-text.net/" />
		<add key="app-mail-about" value="content.type.text.net@gmail.com" />
		<add key="app-uri-development" value="https://bitbucket.org/sk_0520/mnmn" />
		<add key="app-uri-forum" value="https://groups.google.com/d/forum/mnmn-forum" />
		<add key="app-uri-update" value="https://bitbucket.org/sk_0520/mnmn/downloads/update.xml?{TIMESTAMP}" />
		<add key="app-uri-changelog-release" value="https://bitbucket.org/sk_0520/mnmn/downloads/update-release.html?{TIMESTAMP}" />
		<!--<add key="app-uri-changelog-rc" value="http://" />-->
		<add key="app-uri-situation" value="https://twitter.com/sk_cttn_QQ" />
		<add key="app-uri-issue-resolved" value="https://bitbucket.org/sk_0520/mnmn/issues?status=resolved" />
		<add key="app-uri-questionnaire" value="https://script.google.com/macros/s/AKfycbzgOrExQj54-5gn1I7Op7sRYgboQDhZ7_KF0ugysIkydTYPYW0/exec" />
		<add key="app-uri-web_navigator-plugins" value="https://bitbucket.org/sk_0520/mnmn/downloads/WebNavigatorGeckoFxPlugins.zip" />
		<add key="app-uri-flashplayer-version" value="https://helpx.adobe.com/jp/flash-player/kb/235703.html" />
		<add key="app-uri-general-browser" value="http://childproject.alpha-1999.jp/" />
		<add key="app-uri-lightweight-update" value="https://drive.google.com/uc?id=0B_tvJxH1KCxRZnIxRXlPeGk1Qk0" />

		<add key="app-splash-close-time" value="00:00:01.5" />
		<add key="app-un_handled-exception-handled" value="True" />
		<add key="app-send-crash-report" value="True" />
		<add key="app-crash-report-is-debug" value="False" />

		<add key="app-system-break-time" value="00:00:55" />
		<add key="app-check-network-available" value="True" />

		<add key="network-proxy-setting-refresh-time" value="00:00:05" />

		<add key="web_navigator-engine" value="GeckoFx" />
		<add key="web_navigator-geckofx-lib-dir-name" value="Firefox" />
		<add key="web_navigator-geckofx-profile-dir-name" value="GeckoFx" />
		<add key="web_navigator-geckofx-preferences-name" value="preferences.conf" />
		<add key="web_navigator-geckofx-plugin-dir-name" value="plugins" />
		<add key="web_navigator-geckofx-extension-dir-name" value="extensions" />
		<add key="web_navigator-geckofx-show-log" value="False" />
		<add key="web_navigator-geckofx-show-engine-log" value="False" />
		<!-- TSV -->
		<add key="web_navigator-geckofx-ignore-engine-logs" value="&quot;resource://" />
		<add key="web_navigator-geckofx-gesture-wait-time" value="0.00:00:00.25" />
		<add key="web_navigator-context_menu-show-html_source" value="False" />

		<add key="backup-archive-count" value="5" />
		<add key="backup-setting-count" value="30" />
		<add key="update-app-exit-wait-time" value="00:30:00" />
		<add key="backup-web_navigator-geckofx-plugin-count" value="3" />
		<add key="background-auto-save-setting-time" value="00:40:00" />
		<add key="background-update-check-time" value="01:30:00" />
		<add key="background-garbage-collection-is-enabled-startup" value="true" />
		<add key="background-garbage-collection-time" value="02:00:00" />
		<add key="background-garbage-collection-level" value="Large, Temporary" />
		<add key="garbage-collection-call-emptyworkingset-count" value="7" />

		<add key="mutex-wait-time" value="00:00:10" />
		<add key="log-view-count" value="500" />
		<add key="text-file-save-buffer" value="4096" />
		<add key="text-stream-write-buffer" value="8192" />
		<add key="player-cursor-hide-time" value="00:00:03" />

		<add key="view-scale-reset" value="1" />
		<add key="view-scale-range" value="0.5,2" />
		<add key="view-scale-change-range" value="0.25,0.5" />
		<add key="view-scale-list" value="0.5;1;1.25;1.5;2" />

		<add key="auto-reboot-is-enabled" value="true" />
		<add key="auto-reboot-watch-time" value="00:30:00" />
		<add key="auto-reboot-judge-time" value="06:00:00" />

		<add key="uninitialize_async-wait-time" value="00:00:20" />

		<add key="application-logic-ua-format" value="" />

		<add key="force-more-options-show" value="False" />

		<add key="navigator-volume-range" value="0,100" />

		<add key="finder_tab-tab_header-enabled-mouse-wheel" value="true" />

		<add key="http-request_response-header-accept" value="text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" />
		<add key="http-request_response-header-accept-encoding" value="gzip, deflate" />

		<add key="combobox-input-ime-549-enabled" value="true" />

		<add key="setting-application-cache-life-time" value="3.00:00:00" />

		<add key="setting-application-window-left" value="100" />
		<add key="setting-application-window-top" value="100" />
		<add key="setting-application-window-width" value="720" />
		<add key="setting-application-window-height" value="480" />

		<add key="setting-application-view-scale" value="1" />
		<add key="setting-application-system-break-suppression" value="true" />

		<add key="setting-application-theme-is-random" value="True" />
		<add key="setting-application-theme-application-theme" value="Generic" />
		<add key="setting-application-theme-base-theme" value="BaseLight" />
		<add key="setting-application-theme-accent" value="Steel" />

		<add key="setting-application-service-enabled-startup-auto-login" value="true" />

		<add key="setting-application-web_navigator-geckofx-scan-plugin" value="True" />

		<add key="setting-application-network-logic-using-custom-ua" value="False" />
		<add key="setting-application-network-logic-custom-ua-format" value="" />
		<add key="setting-application-network-browser-using-custom-ua" value="False" />
		<add key="setting-application-network-browser-custom-ua-format" value="" />


		<!-- ニコニコ ======================================== -->
		<add key="service-smile-session-key" value="user_session" />

		<add key="service-smile-account-register" value="https://account.nicovideo.jp/register?from=top" />
		<add key="service-smile-account-reset" value="https://account.nicovideo.jp/password/reset" />

		<add key="service-smile-content_search-context" value="MnMn" />
		<add key="service-smile-smileuser-check_it_later-check-time" value="04:00:00" />
		<add key="service-smile-user-history-count" value="50" />
		<add key="service-smile-mylist-reload-wait-time" value="00:00:00.5" />
		<add key="service-smile-mylist-folder-color" value="#ff87ceeb" />
		<add key="service-smile-mylist-history-count" value="50" />
		<add key="service-smile-mylist-title-trim-head" value="マイリスト " />
		<add key="service-smile-mylist-title-trim-tail" value="‐ニコニコ動画" />

		<!-- ニコニコ動画 ======================================== -->
		<add key="service-smile-smilevideo-search-history-count" value="100" />
		<!--<add key="service-smile-smilevideo-is-enabled-filtering" value="true" />-->
		<add key="service-smile-smilevideo-play-history-count" value="500" />
		<add key="service-smile-smilevideo-check_it_later-count" value="200" />
		<add key="service-smile-smilevideo-downloading_error-wait-time" value="00:00:01" />
		<add key="service-smile-smilevideo-downloading_error-retry-count" value="5" />
		<add key="service-smile-smilevideo-donwload-dmc-weight-range" value="0, 100" />
		<add key="service-smile-smilevideo-donwload-dmc-weight-video-sort" value="^.*_(?&lt;KBS&gt;\d+).*_(?&lt;SCAN&gt;\d+).*$" />
		<add key="service-smile-smilevideo-donwload-dmc-weight-audio-sort" value="^.*_(?&lt;KBS&gt;\d+).*$" />
		<add key="service-smile-smilevideo-donwload-dmc-extension" value="mp4" />
		<add key="service-smile-smilevideo-donwload-dmc-polling-wait-time" value="00:00:10" />
		<add key="service-smile-smilevideo-watch-to-movie-wait-time" value="00:00:01" />
		<add key="service-smile-smilevideo-receive-buffer" value="65536" />
		<add key="service-smile-smilevideo-history-remove-wait-time" value="00:00:00.25" />
		<add key="service-smile-smilevideo-history-reload-wait-time" value="00:00:00.5" />
		<add key="service-smile-smilevideo-recommendations-page-continue-wait-time" value="00:00:00.25" />
		<add key="service-smile-smilevideo-check_it_later-check-time" value="03:00:00" />
		<add key="service-smile-smilevideo-comment-correction-time" value="00:00:01" />
		<add key="service-smile-smilevideo-comment-simple-newline" value="↵" />
		<add key="service-smile-smilevideo-comment-simple-space" value="˽" />
		<add key="service-smile-smilevideo-player-comment-width" value="640" />
		<add key="service-smile-smilevideo-player-comment-height" value="386" />
		<add key="service-smile-smilevideo-player-official-4:3-width" value="512" />
		<add key="service-smile-smilevideo-player-official-4:3-height" value="384" />
		<add key="service-smile-smilevideo-player-official-16:9-width" value="640" />
		<add key="service-smile-smilevideo-player-official-16:9-height" value="386" />
		<add key="service-smile-smilevideo-player-auto-play-lowest-size-range" value="1048576, 10485760" />
		<add key="service-smile-smilevideo-player-setep-volume-range" value="1,10" />
		<add key="service-smile-smilevideo-player-setep-seek-range-percent" value="1,10" />
		<add key="service-smile-smilevideo-player-setep-seek-range-absolute" value="1,30" />
		<add key="service-smile-smilevideo-player-comment-effect" value="True" />
		<add key="service-smile-relation-video-sort" value="p" />
		<add key="service-smile-relation-video-order-ascending" value="a" />
		<add key="service-smile-relation-video-order-descending" value="d" />

		<add key="service-smile-smilevideo-search-type" value="Contents" />

		<add key="service-smile-smilelive-category-base-count" value="30" />

		<add key="app-smile-labo-play-video-extensions" value="mp4;flv;avi" />
		<add key="app-smile-labo-play-msg-extensions" value="-msg.xml;xml;" />

		<add key="setting-service-smile-user-group-area-star" value="20" />
		<add key="setting-service-smile-user-items-area-star" value="80" />

		<add key="setting-service-smile-mylist-group-area-star" value="35" />
		<add key="setting-service-smile-mylist-items-area-star" value="65" />
		<add key="setting-service-smile-mylist-using-bookmark-tag-filter" value="False" />

		<add key="setting-service-smile-smilevideo-comment-font-alpha" value="1" />
		<add key="setting-service-smile-smilevideo-comment-font-bold" value="false" />
		<add key="setting-service-smile-smilevideo-comment-font-italic" value="false" />
		<add key="setting-service-smile-smilevideo-comment-show-time" value="00:00:03" />
		<add key="setting-service-smile-smilevideo-comment-pair-yen-slash" value="true" />
		<add key="setting-service-smile-smilevideo-comment-shared-no-good-is-enabled" value="true" />
		<add key="setting-service-smile-smilevideo-comment-shared-no-good-score" value="-1500" />
		<add key="setting-service-smile-smilevideo-comment-is-enabled-op-filering" value="False" />
		<add key="setting-service-smile-smilevideo-comment-post-anonymous" value="true" />
		<add key="setting-service-smile-smilevideo-comment-text_show_mode" value="SimpleShadow" />
		<add key="setting-service-smile-smilevideo-comment-fill-background-op" value="False" />

		<add key="setting-service-smile-smilevideo-search-count" value="100" />
		<add key="setting-service-smile-smilevideo-load-video-information" value="true" />

		<add key="setting-service-smile-smilevideo-player-is-auto-play" value="true" />
		<add key="setting-service-smile-smilevideo-player-auto-play-lowest-size" value="2097152" />
		<add key="setting-service-smile-smilevideo-player-replay" value="false" />
		<add key="setting-service-smile-smilevideo-player-volume" value="100" />
		<add key="setting-service-smile-smilevideo-player-mute" value="false" />
		<add key="setting-service-smile-smilevideo-player-buffering-stop-skip-time" value="00:10:00" />
		<add key="setting-service-smile-smilevideo-player-window-left" value="150" />
		<add key="setting-service-smile-smilevideo-player-window-top" value="150" />
		<add key="setting-service-smile-smilevideo-player-window-width" value="800" />
		<add key="setting-service-smile-smilevideo-player-window-height" value="600" />
		<add key="setting-service-smile-smilevideo-player-window-topmost" value="false" />
		<add key="setting-service-smile-smilevideo-player-display-comment-limit-is-enabled" value="false" />
		<add key="setting-service-smile-smilevideo-player-display-comment-limit-count" value="25" />
		<add key="setting-service-smile-smilevideo-player-comment-enable-area-is-enabled" value="false" />
		<add key="setting-service-smile-smilevideo-player-comment-enable-area-percent" value="100" />
		<add key="setting-service-smile-smilevideo-player-auto-scroll-comment-list" value="true" />
		<add key="setting-service-smile-smilevideo-player-show-detail-area" value="true" />
		<add key="setting-service-smile-smilevideo-player-show-normal-window-comment-list" value="true" />
		<add key="setting-service-smile-smilevideo-player-show-fullscreen-comment-list" value="false" />
		<add key="setting-service-smile-smilevideo-player-show-post-timestamp" value="false" />
		<add key="setting-service-smile-smilevideo-player-comment-visible" value="true" />
		<add key="setting-service-smile-smilevideo-player-global-comment-filtering-is-enabled" value="true" />
		<add key="setting-service-smile-smilevideo-player-comment-fps" value="60" />
		<add key="setting-service-smile-smilevideo-player-key-space-to-pause" value="True" />
		<add key="setting-service-smile-smilevideo-player-mouse-click-to-pause" value="False" />
		<add key="setting-service-smile-smilevideo-player-wheel-operation" value="Volume" />
		<add key="setting-service-smile-smilevideo-player-volume-operation-step" value="10" />
		<add key="setting-service-smile-smilevideo-player-seek-operation-is-percent" value="False" />
		<add key="setting-service-smile-smilevideo-player-seek-operation-absolute-step" value="5" />
		<add key="setting-service-smile-smilevideo-player-seek-operation-percent-step" value="5" />
		<add key="setting-service-smile-smilevideo-player-inactive-is-fullscreen-restore" value="true" />
		<add key="setting-service-smile-smilevideo-player-inactive-is-fullscreen-restore-primary-display-only" value="true" />
		<add key="setting-service-smile-smilevideo-player-stop-fullscreen-restore" value="true" />
		<add key="setting-service-smile-smilevideo-player-stop-fullscreen-restore--primary-display-only" value="true" />
		<add key="setting-service-smile-smilevideo-player-player-area-star" value="7" />
		<add key="setting-service-smile-smilevideo-player-comment-area-star" value="3" />
		<add key="setting-service-smile-smilevideo-player-information-area-pixel" value="120" />
		<add key="setting-service-smile-smilevideo-player-background-kind" value="SimpleColor" />
		<add key="setting-service-smile-smilevideo-player-background-color" value="#ff000000" />
		<add key="setting-service-smile-smilevideo-player-vuew-scale" value="1" />
		<add key="setting-service-smile-smilevideo-player-can-change-comment-enabled-area" value="True" />
		<add key="setting-service-smile-smilevideo-player-show-navigator-fullscreen" value="False" />

		<add key="setting-service-smile-smilevideo-execute-open-mode" value="Application" />
		<add key="setting-service-smile-smilevideo-execute-open-player-in-new-window" value="False" />

		<add key="setting-service-smile-smilevideo-filtering-ignore-overlap-word" value="false" />
		<add key="setting-service-smile-smilevideo-filtering-ignore-overlap-time" value="00:00:03" />

		<add key="setting-service-smile-smilevideo-download-dmc-using" value="True" />
		<add key="setting-service-smile-smilevideo-download-dmc-video-weight" value="80" />
		<add key="setting-service-smile-smilevideo-download-dmc-audio-weight" value="80" />

		<add key="setting-service-smile-smilevideo-bookmark-group-area-star" value="35" />
		<add key="setting-service-smile-smilevideo-bookmark-items-area-star" value="65" />

		<!-- ニコニコ生放送 ======================================== -->
		<add key="service-smile-smilelive-watch-url-base" value="http://live.nicovideo.jp/watch/" />

		<add key="setting-service-smile-smilelive-execute-open-mode" value="Application" />
		<add key="setting-service-smile-smilelive-execute-open-player-in-new-window" value="True" />

		<add key="setting-service-smile-smilelive-player-window-left" value="150" />
		<add key="setting-service-smile-smilelive-player-window-top" value="150" />
		<add key="setting-service-smile-smilelive-player-window-width" value="800" />
		<add key="setting-service-smile-smilelive-player-window-height" value="640" />
		<add key="setting-service-smile-smilelive-player-window-topmost" value="False" />
		<add key="setting-service-smile-smilelive-player-show-detail-area" value="True" />
		<add key="setting-service-smile-smilelive-player-vuew-scale" value="1" />

	</appSettings>
</configuration>
