<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib"/>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

		<add key="uri-update" value="https://bitbucket.org/sk_0520/mnmn/downloads/update.xml?{TIMESTAMP}"/>
		<add key="uri-changelog-release" value="https://bitbucket.org/sk_0520/mnmn/downloads/update-release.html?{TIMESTAMP}"/>
		<!--<add key="uri-changelog-rc" value="http://" />-->
		<add key="backup-archive" value="30" />
		<add key="update-app-exit-wait-time" value="00:30:00" />

		<add key="text-file-save-buffer" value="4096" />

		<!-- ニコニコ動画 ======================================== -->
		<!--  -->
		<add key="service-smile-content_search-context" value="MnMn" />
		<!-- 動画データ取得中になんかエラー発生から再開までの待ち時間 -->
		<add key="service-smile-smilevideo-doenloading_error-wait-time" value="00:00:01" />
		<!-- 動画データ取得中になんかエラー発生から再開のリトライ数 -->
		<add key="service-smile-smilevideo-downloading_Error-retry-count" value="5" />
		<!-- 視聴ページから動画データ取得までの待ち時間 -->
		<add key="service-smile-smilevideo-watch-to-movie-wait-time" value="00:00:01" />
		<!-- 再生可能判定までの動画サイズ(2mb) -->
		<add key="service-smile-smilevideo-play-lowest-size" value="2097152" />
		<!-- 動画受信時のバッファサイズ(確保するだけで受け取るかどうかはサーバー次第) -->
		<add key="service-smile-smilevideo-receive-buffer" value="67108864" />

	</appSettings>
</configuration>
