<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ContentTypeTextNet.PInvoke" version="1.0.0.26" targetFramework="net46" />
  <package id="ContentTypeTextNet.SharedLibrary" version="1.0.0.112" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net46" />
  <package id="Geckofx45" version="45.0.31" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net46" />
  <package id="Meta.Vlc" version="17.06.20" targetFramework="net46" developmentDependency="true" />
  <package id="Meta.Vlc.Wpf" version="17.06.20" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net46" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net46" />
  <package id="SharpAvi" version="2.1.0" targetFramework="net46" />
  <package id="SlowCheetah" version="2.5.48" targetFramework="net46" />
  <package id="Syroot.Windows.IO.KnownFolders" version="1.0.2" targetFramework="net46" />
  <package id="Trinet.Core.IO.Ntfs" version="4.0.0" targetFramework="net46" />
</packages>