<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ContentTypeTextNet.PInvoke" version="1.0.0.22" targetFramework="net46" />
  <package id="ContentTypeTextNet.SharedLibrary" version="1.0.0.71" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net46" />
  <package id="Meta.Vlc" version="16.05.01" targetFramework="net46" developmentDependency="true" />
  <package id="Meta.Vlc.Wpf" version="16.05.01.2" targetFramework="net46" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="OxyPlot.Core" version="1.0.0-unstable2100" targetFramework="net46" />
  <package id="OxyPlot.Wpf" version="1.0.0-unstable2100" targetFramework="net46" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net46" />
</packages>