<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib"/>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

		<!-- ニコニコ動画 -->
		<!-- 再生可能判定までの動画サイズ -->
		<add key="service-niconico-niconicovideo-PlayLowestSize" value="655360" />
		<!-- 動画受信時のバッファサイズ(確保するだけで受け取るかどうかはサーバー次第) -->
		<add key="service-niconico-niconicovideo-ReceiveBuffer" value="67108864" />
	</appSettings>
</configuration>
