html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

body {
	background: #808080;
}

#cttn_mnmn_service_smile_live_container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#cttn_mnmn_service_smile_live_frame {
	width: 100%;
	height: 100%;
}
